.about {
  @extend %clearfix;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.section__about{
  height: 100%;
  position: relative;
}

.about__container {
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: stretch;
  justify-content:center;
  @include desctop{
    flex-direction: row;
  }
  @include tablets{
    flex-direction: column;
  }
  @include phones{
    flex-direction: column;
  }
}
.about__left, .about__right {

  width: 50%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content:center;
  @include desctop{
    width: 50%;
  }
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}
.about__right-content{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.about__left-content{
  width: 70%;
  @include desctop{
    width: 70%;
  }
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}

.about__right-title{
  width: 60%;
  text-align: center;
}
.block__subtitle-help{
  font-size: 36px;
  text-transform: uppercase;
  color: #474b57;
  margin: 30px 0;
}

.about__left {
  background: $white;
}

.about__right {
  background: $white;
}

.user-description__avatar{
  width: 440px;
  height: 390px;
}
.block-subtitle{
  font-size: 35px;
  color: #474b57;
}
.user-description__text{
  text-align: left;
  font-size: 16px;
  color: #474b57;
}

.about__right-description{
  text-align: left;
  font-size: 16px;
  color: #474b57;
  width: 90%;
}

.skills-row__title{
  text-align: left;
  font-size: 24px;
  color: #474b57;
}

.skills-row__list{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @include tablets{
    justify-content:center;
    flex-wrap: wrap;
  }
  @include phones{
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
  }

}
.user-description__image{
  text-align: center;
}
.user-description__title{
  text-align: center;
}
.about__left-title{
  text-align: center;
}

.block__title{
  //width: 200px;
  //margin: 30px 0;
}

.block__title-pic{
  transform: rotate(190deg);
  stroke: #000;
  fill-opacity:0;
  opacity: .1;
  display: inline-block;
}

.block__title-text{
  margin: 30px 0;
  position: absolute;
  top:0;
  left:15%;
  font-size: 63px;
  text-transform: uppercase;
  color: #474b57;
}