.blog__container {
  position: relative;
  height: 100%;
  background-color: white;
  padding-top: 50px;
}
.blog{
  @extend .about;
}

.triangle__left {
  float: left;
  width: 50%;
  position: relative;
}

.triangle__right {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
}

.blog__left {
  float: left;
  width: 30%;
  position: relative;
  display: inline-block;
  height: 100%;
  @include desctop{
    width: 30%;
  }
  @include tablets{
    width: 0;
  }
  @include phones{
    width: 0;
  }
}

.blog__right {
  float: right;
  width: 70%;
  position: relative;
  margin-bottom: 185px;
  @include desctop{
    width: 70%;
  }
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}

.blog__bg{
  height: 100vh;
  width: 100%;
  position: absolute;
  display: block;
}
.blok__link {
  width: 250px;
  padding: 20px 16px;
  color: #474b57;
  float: right;
  left: 50%;
  text-align: right;
  text-decoration: none;
}

.user__name-blog{
  font-family:Sansus, Roboto, sans-serif;
  font-size: 63px;
  color: #ffffff;
  text-transform: uppercase;
}
.user__desc-blog{
  font-size: 16px;
  color: #ffffff;
}
.blog__left-content{
  display: inline-block;
  height: 100%;
}

.blog__right-content{
  padding: 0 40px;
}

.content__title{
  font-family:Sansus, Roboto, sans-serif;
  font-size: 35px;
  color: #474b57;
}

.content__time{
  font-size: 16px;
  color: #0548be;
}

.fixed {
  position: fixed;
  top: 0;
  padding: 0;
}

.active a{
  border-right: #0548be solid 2px;
  color: #0548be;
}
.content__text{
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 4px solid rgba(55, 62, 66, 0.07);
}