.hero__menu{
  float: right;
  width: 100%;
  position: relative;
}
.hero__socials{
  float: left;
  position: relative;
}
.hero__menu{
  float: left;
  position: relative;
}
.socials{
  display : inline-block;
}
.socials__item{
  width: 40px;
  display : inline-block;
  padding: 20px 10px;
}
.socials__link{
  display : inline-block;
  width:100%
}
.socials__img{
  height: 20px;
  display : inline-block;
  width:100%;
  fill: #fff;
  opacity: .7;
}
.socials__img :hover{
  fill: #083c96;
}
.hamburger{
  @extend .socials__item;
  float: right;
  padding: 20px;
}
//.hamburger__link{
//  @extend .socials__link;
//}
//.hamburger__img{
//  @extend .socials__img;
//}
.hamburger {
  display: inline-block;
  width:18px;
  height:18px;
  cursor: pointer;
  text-decoration: none;
}

.hamburger i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 3px;
  color:#252525;
  font:bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent:-55px;
  background: #fff;
  transition:all .2s ease-out;
}

.hamburger i::before, a i::after {
  content:'';
  width: 18px;
  height: 3px;
  background: #fff;
  position: absolute;
  left:0;
  transition:all .2s ease-out;
}

.hamburger i::before { top: -7px; }
.hamburger i::after { bottom: -7px; }
.hamburger:hover i::before { top: -10px; }
.hamburger:hover i::after { bottom: -10px; }
.hamburger.active i { background: rgba(0,0,0,0); }

.hamburger.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.hamburger.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* Button placement */
//.hamburger {
//  position: absolute;
//  top: 50px;
//  right: 50px;
//}

