.work__head{
  height: calc(100vh - 180px);
}
.work-title__pic {
  stroke: #fff;
  fill-opacity:0;
  opacity: .1;
  display: inline-block;
}
.work__container-call{
  //height: 100%;
  //display: inline-block;
}
.work__row{
  text-align: center;
  height: 100%;
  display: inline-block;
}


.work__row-coll{
  height: 100%;
  display: inline-block;
}
.work__description{
  width: 100%;
  color: #ffffff;
  text-align: center;
}
.work__col-cont{
  width: 50%;
  float: left;
  display: inline-block;
  @include desctop{
    width: 50%;
  }
  @include tablets{
    width: 50%;
  }
  @include phones{
    width: 100%;
  }
}

.work__col-right{
  margin: 16px;
  color:#ffffff;
}
.work__col-left{
  color:#ffffff;
  margin: 16px;
}

.comment__pic{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.comment__pic-img{
  border-radius: 100%;
  width: 80px;
}
.work__col-call{
  width: 380px;
  background-color: rgba(255,255,255,.1);
  color:#ffffff;
  display: inline-block;
  margin: 20px;
  text-align: center;
  @include desctop{
    margin: 20px;
  }
  @include tablets{
    margin: 0;
  }
  @include phones{
    margin: 0;
  }
}
.call__input{
  padding: 20px;
}
.input__coll{
  width: calc(100% - 20px);
  background-color: rgba(255,255,255,.15);
  border: none;
  margin-top: 20px;
  height: 46px;
  padding-left: 20px;
}
.input__coll-text{
  height: 130px;
}
.menu__call{
  width: calc(50%);
  float: left;
  color: #ffffff;
  line-height: 45px;
  text-decoration: none;
}
.menu__call-send{
  @extend .menu__call;
  background-color: #0548be;
  border: none;
}
.work__bg{
  width: 100%;
  height:100%;
  position: absolute;
  display: block;
}

.blog__title{
  height: 180px;
  background-color: rgba(0,0,0,.5);
}
.work-title__pic-title {
  @extend .work-title__pic;
  height: 180px;
  transform: rotate(190deg);
}
.work__description-title {
  @extend .work__description;
  @include centered(x);
  top: 50px;
}

.triangle_fill_black{
  fill: rgba(0,0,0,.5);
}

.work__left {
  width: 50%;
  background-color: #ffffff;
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  justify-content:center;
  @include desctop{
    width: 50%;
  }
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}

.work__right {
  width: 50%;
  background-color: #e3e2de;
  align-self: flex-end;
  @include desctop{
    width: 50%;
  }
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
}

.title__desc {
  color: #474b57;
  font-size: 35px;
  text-transform: uppercase;
  max-width: 80%;
  display: inline-block;
}
.subtitle::after {
    content: '';
    @include centered(x);
    bottom: 0;
    width: 89px;
    height: 3px;
    background-color: rgba(71, 75, 87, 0.5);
}


.call__title-head{
  margin-top: 40px;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  position: relative;
  padding-bottom: 20px;
  //@include Sansus();
}
.call__title-head::after{
  content: '';
  @include centered(x);
  bottom: 0;
  width: 89px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.7);
}
.work__name{
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
.work__name-call {
  @extend .work__name;
  width: 400px;
  margin: 72px 0;
  position: absolute;
  top:0;
}
.work__row-headpic{
  width: 400px;
  margin: 72px 0;
}
.title__desc-lg{
  font-size: 16px;
  text-transform: uppercase;
  color: #0548be;
}

.works__content-view{
  background: #0548be;
  width: 200px;
  display: inline-block;
  line-height: 45px;
  color: #ffffff;
  margin: 24px;
  text-align: center;
  text-decoration: none;
  outline: 0 !important;
  border: 0 !important;
}

.btn__text{
  float: left;
  //margin-left: 20px;
}
.btn__img{
  fill: #ffffff;
  float: left;
  width: 20px;
  height: 20px;
  margin: 12px 10px 12px 20px;
}
.arrow-up__pic{
  fill: #ffffff;
  transform: rotate(180deg);
  width: 26px;
  height: 16px;
  opacity: .7;
}
.w-down__pic{
  fill: #ffffff;
  width: 44px;
  height: 36px;
}
.w-up__pic{
  clear: both;
  fill: #ffffff;
  transform: rotate(180deg);
  width: 44px;
  height: 36px;
}

.w__right{
  width: 50%;
  float: left;
}
.w__left{
  width: 50%;
  float: left;
}
.up__pic{
  z-index:3;
  height: 100%;
  width: 100%;
  background-color: rgba(191,192,200,0.7);
  position: absolute;
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  justify-content:center;
}

.work__right-content{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-items: stretch;
  align-content: flex-end;
}
.work__desc{
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  justify-content:center;
}
.work__title{
  text-align: center;
}
.section__work{
  height: 100%;
  position: relative;
}

.work__container {
  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: stretch;
  justify-content:center;
  @include desctop{
    flex-direction: row;
  }
  @include tablets{
    flex-direction: column-reverse;
  }
  @include phones{
    flex-direction: column-reverse;
  }
}
.works__pic-main{
  margin: 100px 0;
}
.works__pic{
  width: 100%;
}

.work__container-call{
  width: 840px;
  @include desctop{
    width: 840px;
  }
  @include tablets{
    width: 100%;
  }
  @include phones{
    width: 100%;
  }
  height: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content:center;
}

.work__row-head{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content:center;
}

.comment__descp{
  background: url("../img/quote.png") no-repeat;
  background-size: 80px;
  background-position:left top;
  text-align: left;
  font-size: 16px;
  font-style: italic;
  padding-top: 30px;
}
.comment__name{
  font-size: 16px;
  font-style: italic;
}
.work__up {
  @extend .work__name;
  width: 400px;
  margin: 72px 0;
}

.work__row-head__pic{
  @extend .work-title__pic-title;
  transform: rotate(30deg);
}
